<div class="w-full">
  <div
    #chart
    class="w-full h-[350px]">
  </div>

  <div class="flex justify-center gap-8 mt-2">
    <div class="text-center">
      <p class="text-sm text-gray-500">
        {{ nameVariable1() }}
      </p>

      <p class="font-bold">
        {{ symbolvariable1() }} {{ variable1().toLocaleString() }}
      </p>
    </div>

    <div class="text-center">
      <p class="text-sm text-gray-500">
        {{ nameVariable2() }}
      </p>

      <p class="font-bold">
        {{ symbolvariable2() }} {{ variable2().toLocaleString() }}
      </p>
    </div>
  </div>
</div>