<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>NO.</th>
        <th>IDCILINDRO</th>
        <th>SERIE</th>
        <th>TIPO ENVASE</th>
        <th>PRODUCTO</th>
        <th>FECHA ENTREGA</th>
      </tr>
    </thead>
    <tbody>
      @for( cilindro of cilindros(); track cilindro.IDCILINDRO; let index = $index) {
        <tr>
          <th>{{ index + 1 }}</th>
          <td>{{ cilindro.IDCILINDRO }}</td>
          <td>{{ cilindro.SERIE }}</td>
          <td>{{ cilindro.DESCENVASE }}</td>
          <td>{{ cilindro.DESCCORTA_CP}}</td>
          <td>{{ cilindro.FHEMISION | date:'dd/MM/yyyy HH:mm:ss' }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
