

<form [formGroup]="form">
  @if(!isMobile()) {
  <table class="w-full table-fixed border-collapse border border-gray-300">
    <thead>
      <tr class="bg-gray-200">
        <th class="w-60 border-y border-gray-100 bg-gray-50/50 p-2">Parte</th>
        <th class="w-60 border-y border-gray-100 bg-gray-50/50 p-2">Descripción</th>
        <th class="w-25 border-y border-gray-100 bg-gray-50/50 p-2">No. Cilindros</th>
        <th class="w-25 border-y border-gray-100 bg-gray-50/50 p-2">Presentación</th>
        <th class="w-25 border-y border-gray-100 bg-gray-50/50 p-2">UOM</th>
        <th class="w-25 border-y border-gray-100 bg-gray-50/50 p-2">Precio</th>
        <th class="w-25 border-y border-gray-100 bg-gray-50/50 p-2">Precio Total</th>
        <th class="w-25 border-y border-gray-100 bg-gray-50/50 p-2">Certificado</th>
        <th class="w-25 border-y border-gray-100 bg-gray-50/50 p-2">Action</th>
      </tr>
    </thead>

    <tbody formArrayName="lineas">
      @for(linea of lineas.controls; track index; let index = $index) {

        <tr [formGroupName]="index">

<!--SELECCIÓN DE PARTE-->
          <td class="border border-gray-300 px-4 py-2">
            <select
            formControlName="parte" 
            class="w-full p-2 rounded border bg-white"
            (change)="onParteChange(index)"
            >
              @for (parte of Parts(); track parte.Part_PartNum) {
                <option [value]="parte.Part_PartNum">
                  {{ parte.Part_PartDescription }}
                </option>
              }
            </select>
          </td>
<!--DESCRIPCION DE PARTE -->
          <td class="border border-gray-300 px-4 py-2">
            <input
              type="text"
              formControlName="descripcion"
              class="w-full p-2 rounded border"
            />
          </td>

<!--NUMERO DE CILINDROS-->
          <td class="border border-gray-300 px-4 py-2">
            <input
              type="number"
              formControlName="cilindros"
              class="w-full p-2 rounded border"
            />
          </td>

<!--PRESENTACION-->
          <td class="border border-gray-300 px-4 py-2">
            <select formControlName="presentacion" class="w-full p-2 rounded border bg-white">
              @for (pres of PresentacionesFiltradas(); track pres) {
                <option [value]="pres.UDCodes_CodeID">
                 Tipo {{pres.UDCodes_CodeDesc}}: {{ pres.UDCodes_NUMERO01_c }} 
                </option>
              }
            </select>
          </td>

<!--UNIDAD DE MEDIDA (UOM)-->
         <td class="border border-gray-300 px-4 py-2">
  <select
    formControlName="uom"
    class="w-full p-2 rounded border"
    (change)="ChangeUnitPrice(index)"
  >
    @for (uom of uomsPorLinea()[index]; track uom.RowIdent) {
      <option [value]="uom.UOMConv_UOMCode">
        {{ uom.UOMConv_UOMCode }}
      </option>
    }
  </select>
</td>
<!--PRECIO UNITARIO-->
            <td class="border border-gray-300 px-4 py-2">
                <input
                type="number"
                formControlName="precio"
                class="w-full p-2 rounded border"
                
                />
            </td>
<!--PRECIO TOTAL: SOLO LECTURA-->
          <td class="border border-gray-300 px-4 py-2">
            <input
              type="number"
              formControlName="total"
              class="w-full p-2 rounded border"
              readonly
            />
          </td>
<!--CERTIFICADO-->

            <td class="border border-gray-300 px-4 py-2 text-center">
                <input
                type="checkbox"
                formControlName="ncertificado"
                class="h-5 w-5 text-blue-600 rounded border-gray-300 focus:ring-blue-500"
                />
<!--ELIMINAR LINEA-->
          <td class="border border-gray-300 px-4 py-2">
            <button type="button" (click)="removeLinea(index)" class="p-2 text-red-600">
              <svg class="w-6 h-6" stroke="currentColor" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M 10 2 L 9 3 L 4 3 L 4 5 L 5 5 L 5 20 C 5 20.522222 5.1913289 21.05461 5.5683594 21.431641 C 5.9453899 21.808671 6.4777778 22 7 22 L 17 22 C 17.522222 22 18.05461 21.808671 18.431641 21.431641 C 18.808671 21.05461 19 20.522222 19 20 L 19 5 L 20 5 L 20 3 L 15 3 L 14 2 L 10 2 z M 7 5 L 17 5 L 17 20 L 7 20 L 7 5 z M 9 7 L 9 18 L 11 18 L 11 7 L 9 7 z M13,7L13,18L15,18L15,7L13,7z"></path>
                </svg>
            </button>
          </td>

        </tr>

      }
    </tbody>
  </table>

  <div class="flex w-2/3 justify-center mx-auto mt-8 gap-6">
    <button
      type="button"
      (click)="addLinea()"
      class="font-bold uppercase text-xs py-2 px-4 rounded-lg bg-gray-900 text-white mt-4"
    >
      <i class="fa-solid fa-circle-plus"></i>
      Añadir Línea
    </button>
  </div>
 } @else {

    <!-- MOBILE -->
    <div formArrayName="lineas" class="space-y-4">

      @for(linea of lineas.controls; track index; let index = $index) {

        <div
          [formGroupName]="index"
          class="rounded-xl p-4 shadow border"
          [class.bg-white]="index % 2 === 0"
          [class.bg-green-50]="index % 2 !== 0"
        >

<!--SELECCIÓN DE PARTE-->
          <label class="label">Parte</label>
          <select formControlName="parte" class="select select-bordered w-full" (change)="onParteChange(index)">
            @for (parte of Parts(); track parte.Part_PartNum) {
              <option [value]="parte.Part_PartNum">
                {{ parte.Part_PartDescription }}
              </option>
            }
          </select>

<!--DESCRIPCION DE PARTE -->

          <label class="label mt-2">Descripción</label>
          <input type="text" formControlName="descripcion" class="input input-bordered w-full" />
<!--NUMERO DE CILINDROS-->
          <label class="label mt-2">No. Cilindros</label>
          <input type="number" formControlName="cilindros" class="input input-bordered w-full" />
<!--PRESENTACION-->
          <label class="label mt-2">Presentación</label>
          <select formControlName="presentacion" class="select select-bordered w-full">
            @for (pres of PresentacionesFiltradas(); track pres) {
              <option [value]="pres.UDCodes_CodeID">
                Tipo {{ pres.UDCodes_CodeDesc}}: {{ pres.UDCodes_NUMERO01_c }}
              </option>
            }
          </select>
<!--UNIDAD DE MEDIDA (UOM)-->
          <label class="label mt-2">UOM</label>
          <select formControlName="uom" class="select select-bordered w-full" (change)="ChangeUnitPrice(index)">
            @for (uom of uomsPorLinea()[index]; track uom.RowIdent) {
              <option [value]="uom.UOMConv_UOMCode">
                {{ uom.UOMConv_UOMCode }}
              </option>
            }
          </select>
<!--PRECIO UNITARIO-->
          <label class="label mt-2">Precio</label>
          <input type="number" formControlName="precio" class="input input-bordered w-full" />
<!--PRECIO TOTAL: SOLO LECTURA-->
          <label class="label mt-2">Precio Total</label>
          <input type="number" formControlName="total" class="input input-bordered w-full" readonly />
<!--CERTIFICADO-->
          <label class="label mt-2 cursor-pointer justify-start gap-3">
            <input type="checkbox" formControlName="ncertificado" class="checkbox checkbox-primary" />
            <span>Certificado</span>
          </label>

          <button type="button" (click)="removeLinea(index)" class="btn btn-error w-full mt-4">
            Eliminar línea
          </button>

        </div>

      }

    </div>
  <div class="flex justify-center mx-auto mt-8">
    <button type="button" (click)="addLinea()" class="btn bg-gray-900 text-white">
      <i class="fa-solid fa-circle-plus"></i>
      Añadir Línea
    </button>
  </div>
  }

  
</form>