<div class="mt-6">

  @if(!isMobile()) {
  <!-- DESKTOP -->
  <div class="hidden md:block overflow-x-auto">
    <table class="table-auto border-collapse w-full">

      <thead>
        <tr class="text-sm font-medium text-gray-700 text-left">
          <th class="px-4 py-2 bg-gray-100">Cliente</th>
          <th class="px-4 py-2 bg-gray-100">Código</th>
          <th class="px-4 py-2 bg-gray-100">Tipo</th>
          <th class="px-4 py-2 bg-gray-100">Estado</th>
          <th class="px-4 py-2 bg-gray-100">Ord. de Venta</th>
          <th class="px-4 py-2 bg-gray-100">Cil. en Cliente</th>
        </tr>
      </thead>

      <tbody class="text-sm font-normal text-gray-700">

        @for (cliente of paginatedClientes(); track cliente.Customer_CustID; let index = $index) {

          <tr
            class="border-b border-gray-200 hover:bg-gray-100"
            [class.bg-white]="index % 2 === 0"
            [class.bg-[#EEEEEE]]="index % 2 !== 0"
          >

            <td class="px-4 py-4">
              {{ cliente.Customer_Name }}
            </td>

            <td class="px-4 py-4">
              {{ cliente.Customer_CustID }}
            </td>

            <td class="px-4 py-4">
              {{ cliente.Customer_TipoCustomer_c }}
            </td>

            <td class="px-4 py-4">
              {{ cliente.Calculated_Estado }}
            </td>

            <td class="px-4 py-4">
              <button class="btn bg-green-500 text-white px-3 py-1 rounded-md" (click)="createOV(cliente.Customer_CustID)">
                Crear Orden
              </button>
            </td>
            <td class="px-4 py-4">
              <button class="btn bg-[#1A77F2] text-white px-3 py-1 rounded-md" (click)="createOV(cliente.Customer_CustID)">
                Ir a Listado
              </button>
            </td>


          </tr>

        }

      </tbody>
     <tfoot>
      <tr>
        <td colspan="6">
          <PaginationTable
            [rowTableSize]="lclientes().length"
            [pageSize]="pageSize"
            (pageChange)="currentPage.set($event)"
          />

        </td>
      </tr>
    </tfoot>

    </table>
  </div>
  }
  @else{
  
  <!-- MOBILE -->
  <div class="md:hidden space-y-4 w-full max-w-full overflow-hidden">

    @for (cliente of paginatedClientes(); track cliente.Customer_CustID; let index = $index) {

      <div
        class="rounded-xl p-4 shadow"
        [class.bg-white]="index % 2 === 0"
        [class.bg-green-50]="index % 2 !== 0"
      >

        <div class="font-bold text-lg">
          {{ cliente.Customer_Name }}
        </div>

        <div class="mt-2 text-sm">
          <span class="font-semibold">Código:</span>
          {{ cliente.Customer_CustID }}
        </div>

        <div class="text-sm">
          <span class="font-semibold">Tipo:</span>
          {{ cliente.Customer_TipoCustomer_c }}
        </div>

        <div class="text-sm">
          <span class="font-semibold">Estado:</span>
          {{ cliente.Calculated_Estado }}
        </div>

        <button class="btn mt-4 bg-green-500 text-white px-3 py-2 rounded-md w-full" (click)="createOV(cliente.Customer_CustID)">
          Crear OV
        </button>
         <button class="btn bg-[#1A77F2] text-white px-3 py-1 rounded-md w-full" (click)="createOV(cliente.Customer_CustID)">
          Ir a Listado
        </button>

      </div>

    }
    <div class="w-full overflow-x-auto ">
      <PaginationTable
        [rowTableSize]="lclientes().length"
        [pageSize]="25"
        (pageChange)="currentPage.set($event)"
      />
    </div>
  </div>
}