
@if(showModal()) {

<div class="modal modal-open" role="dialog">
  <div class="modal-box w-[95%]
    max-w-md
    max-h-[90vh]">

    <h3 
      class="text-lg font-bold"
    >
      {{ TitleModal() }}
    </h3>

    <p class="py-1">
     {{ msgModal() }}
    </p>

    <div class="modal-action flex flex-col items-center gap-2 w-full">
      <button class="btn w-full bg-[#A6C441]" (click)="emitirEstado('VAC')">
        Vacio
      </button>
      <button class="btn w-full bg-[#A6C441]" (click)="emitirEstado('LLE')">
        Lleno
      </button>
      <button class="btn w-full bg-[#A6C441]" (click)="emitirEstado('USO')">
        En Uso
      </button>
      <button class="btn" (click)="emitirEstado('CAN')">
        Cancelar
      </button>
    </div>

  </div>
</div>

}